<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JISoft.Collections" version="1.1.0.1" targetFramework="wpa81" developmentDependency="true" />
  <package id="JISoft.FlipView" version="1.2.0.0" targetFramework="wpa81" />
  <package id="JISoft.FlipViewIndicator" version="1.0.0.3" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.Controls.DataVisualization.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
  <package id="WinRTXamlToolkit.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" />
</packages>